/* Set the background color of the entire page */
:root {
    --page-bg-color: rgb(135, 206, 235);
}

body {
    background-color: var(--page-bg-color);
}

article p:first-child {
    color: white;
    background-color: black;
}

article p:nth-child(2) {
    color: black;
}

article p:last-child {
    color: red;
}

ul {
    list-style-type: none;  
    padding: 0;
}

li {
    background-color: gray;
    width: 50%;
    padding: 10px;
    margin-bottom: 5px;
}

li:nth-child(odd) {
    background-color: white;
}

li:first-child,
li:last-child {
    font-size: 22px;
}

li:nth-last-child(3) {
    background-color: pink;
}
